@{
    ViewBag.Title = "Помощь";
}



<div class="row">
    <h2>Рекомендованные статьи</h2>
</div>

<div class="row">
    <h3>Как создать аккаунт?</h3>
    <p>
        Если у вас еще нет аккаунта BookAndRent, перейдите на сайт и кликните Зарегистрироваться.        
        Регистрация и создание аккаунта на BookAndRent бесплатны.
        Обязательно заполните профиль до отправки запроса на бронирование.
    </p>
</div>
<div class="row">
    <h3>Почему необходимо общаться и производить оплату только через BookAndRent?</h3>
    <p>
        Проведение оплаты и общение через BookAndRent обеспечивают вам защиту в рамках наших Условий
        предоставления услуг. Кроме того, так легче находить и ссылаться на важные детали бронирования,
        такие как адрес жилья, сведения о прибытии и другая полезная информация.
        Мы не сможем предоставить эти преимущества, если ваше бронирование оформлено и оплачено не через BookAndRent.
    </p>
</div>

<div class="row">
    <h3>Каковы правила отмены бронирования для жилья на BookAndRent?</h3>
    <p>
        На BookAndRent правила отмены устанавливают хозяева. При отмене учитывается тип жилья и время,
        оставшееся до прибытия. Правила отмены указаны внизу страницы объявления.
        Перед бронированием они отображаются еще раз. Затем вы увидите подробности в электронном письме
        с подтверждением и на странице Поездки.
    </p>
</div>

<div class="row">
    <h3>Как быть, если кто-то просит меня оплатить бронирование вне сайта BookAndRent?</h3>
    <p>
        Не отправляйте деньги и сообщите нам. Мы никогда не просим пользователей платить за пределами сайта,
        по электронной почте или через третьих лиц. Бывают случаи, когда гостям необходимо заплатить
        хозяину местный налог, но этот платеж должен быть сделан только через систему BookAndRent,
        и в большинстве случаев он включается в стоимость бронирования.
    </p>
</div>

<div class="row">
    <h2>Другие статьи</h2>
    <a href="javascript:sh()">Подробнее... </a><br />
</div>

<div id="info" style="padding-top:15px;">
    <div class="row">
        <h3>Можно ли оформить бронирование от имени друга или родственника?</h3>
        <p>
            Прозрачность и доверие имеют огромное значение для пользователей BookAndRent.
            Люди полагаются на профили, отзывы и другую подтверждающую информацию на BookAndRent,
            когда решают принимать гостей или останавливаться у кого-либо.Личные поездки на BookAndRent могут
            бронировать только те люди, которые и будут проживать в снимаемом жилье.
            Вместо того чтобы бронировать жилье для кого-то другого, просто порекомендуйте этому
            человеку зарегистрироваться
        </p>
    </div>

    <div class="row">
        <h3>Как связаться с хозяином жилья до бронирования?</h3>
        <p>
            Если вы хотите связаться с хозяином/организатором до бронирования, напишите ему сообщение на
            BookAndRent. После подтверждения бронирования и до конца поездки вы можете звонить ему или отправлять
            сообщения и электронные письма.
        </p>
    </div>

    <div class="row">
        <h3>Как определяется цена моего бронирования?</h3>
        <p>
            Общая стоимость бронирования на BookAndRent складывается из установленной хозяином цены за
            ночь и дополнительных сборов, которые определяет хозяин или BookAndRent.
        </p>
    </div>
</div>

<script type="text/javascript">
    sh();
    function sh() {
        obj = document.getElementById("info");
        if (obj.style.display == "none") { obj.style.display = "block"; } else { obj.style.display = "none"; }
    }
</script>

