@model BookAndRent.Views.ViewModels.UserRegistration

@{
    ViewData["Title"] = "Регистрирация";
}

<h2>Регистрирация</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Registration" method="post" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" required/>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" required/>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" type="email" required/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" required/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="reset" value="Очистить форму" class="btn btn-default" />
                <input type="submit" value="Зарегистрироваться" class="btn btn-default" />
            </div>

            <div class="form-group">
                <p>Есть аккаунт?  @Html.ActionLink("Войди", "Authorization")</p>
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Вернуться к главной странице", "", "")
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
