@model IEnumerable<BookAndRent.Views.ViewModels.ApartmentModels.AvailableApartmentInfo>

@{
    ViewData["Title"] = "AvailableApartments";
}

<style>
    #map {
        width: 450px;
        height: 450px;
        /*position: fixed;*/
    }
</style>

<h2></h2>
<div class="row">

    <div class="col-md-6">
        <table class="table">
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th>
                            @if (item.Pictures != null)
                            {
                                <img style='width:120px; height:120px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(item.Pictures.First().PictureBytes))" />
                            }
                        </th>
                        <th>
                            <form name="forma1">
                                <h4 align="right">
                                    <a href='@Url.Action("ApartmentInfo", "Apartment", new {id = item.ApartmentId}, null)'
                                       align="right" target="_blank" style="color:white;" name="Address">
                                        <span style="color:black;">@item.Address</span>
                                    </a>
                                </h4>
                            </form>
                           
                            <h5 align="right">@item.Title</h5>
                            <h5 align="right">@item.CostPerNight   руб. за ночь</h5>
                        </th>

                    </tr>
                }
            </tbody>

        </table>
    </div>

    <div class="col-md-6">
        <div id="map"></div>
    </div>

</div>

<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=7e275473-1171-4b02-ba3c-847a5b5fe2a0" type="text/javascript"></script>

<script type="text/javascript">


    ymaps.ready(function () {
        var myMap = new ymaps.Map('map', {
            center: [55.751574, 37.573856],
            zoom: 9
        },
            {
                searchControlProvider: 'yandex#search'
            })
    });

  
</script>


